html, body {
    height: 100%;
}

.fill {
    padding-left: 0;
    padding-right: 0;
    padding-top: 70px;
    min-height: 100%;
    height: 100%;
}

.offlineImg {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("poster_offline.png");
    background-color: #474747;
}